head {
    text-align:center;
}
body {
    background-color: skyblue;
    border:"Cupcake border.png"
}
h1 {

color:rgb(212, 23, 212);
text-align:center;
font-size:40px;
font-style: italic;
}

h3 {
    background-color:black;
    color:pink;
    text-align: center;
}

footer {
    background-color: forestgreen;
}

button {
    background-color:black;
    color:hotpink;
}

img {
    height:200px;
    width:150px;
}

.PrincessPeach {
    height:200px;
    width:150px;
    position:relative;
}

.CuteCloud {
    width:200px;
}



